.banner {
    display: flex;
    align-items: center;
    padding: 0 32px;
    padding-top: 100px;
    max-width: 1210px;
    margin: 0px auto;
    flex-wrap: wrap;

    &__content {
        flex: 1;
        padding-right: 64px;
        margin-bottom: 200px;

    }

    &__title {
        font-size: 48px;
        margin-bottom: 24px;
        font-weight: 700;
    }

    &__description {
        margin-bottom: 32px;
        line-height: 1.6;
    }

    &__buttons {
        display: flex;
        gap: 16px;
    }

    &__media {
        flex: 1;
    }

    &__image {
        width: 600px;
        height: 410px;
        margin-bottom: 200px;
    }
}

button {
    padding: 0.8rem 2rem;
    background-color: #4361ee;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        opacity: 0.6;
    }
}
.button--secondary {
    color: black;
    display: flex;
    align-items: center;
    gap: 12px;
}
