.header {
    &__wrap {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
    }
    &__button {
        display: flex;
        align-items: center;
        gap: 10px;
        svg {
            fill: white;
        }
    }
    &__nav {
        display: flex;
        gap: 20px;
    }
    a:hover {
        opacity: 0.5;
    }
}
